body {
  font-family: monospace;
  background: #0e1117;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
textarea {
  width: 80%;
  height: 250px;
  background: #1e1e1e;
  color: #00ff90;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
pre {
  width: 80%;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  min-height: 100px;
  margin-top: 15px;
  overflow-x: auto;
}
button {
  background: #00ff90;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}
button:hover { background: #00cc70; }
